VITE_PUBLIC_EMAIL=denis@c777.ru
VITE_PUBLIC_TELEGRAM_HANDLE=@czzttt
VITE_PUBLIC_TELEGRAM_URL=https://t.me/czzttt
VITE_PUBLIC_OWNER_NAME=ИП Шалякин Денис Андреевич
VITE_PUBLIC_INN=233010036207
VITE_PUBLIC_OGRNIP=322237500360850

