NODE_ENV=production
PORT=8080
PUBLIC_EMAIL=denis@c777.ru
PUBLIC_TELEGRAM_HANDLE=@czzttt
PUBLIC_TELEGRAM_URL=https://t.me/czzttt
PUBLIC_OWNER_NAME=ИП Шалякин Денис Андреевич
PUBLIC_INN=233010036207
PUBLIC_OGRNIP=322237500360850

